body {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.container {
    padding: 2px 16px;
    font-size: 16px;
}

.title{
    background-color: #013243;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 40px;
    color: #fff;
}

.btn {
    font-weight: bold;
    border: none;
    background-color: inherit;
    padding: 8px 12px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: #455A64;
}

.btn:disabled {
    cursor: not-allowed;
}
/* On mouse-over */
.btn:hover {background: #eee;}
